@import "variables";
@import "mixins";

body {
    font-family: $fuente-principal;
    font-weight: 300;
}

img {
    width: 100%;
}

//===========================================================
// Header
//===========================================================

.header {
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    max-width: 760px;
    align-items: center;

    &__title {
        margin: 3rem 0 2rem 0;

        @include telefono {
            margin: 6rem 0 1rem 0;
        }
        h1 {
            font-weight: 500 !important;
        }

        span {
            font-weight: 400 !important;
            color: $primario;
            font-size: 1rem;
        }
    }
    &__logo {
        img {
            width: 100px;

            margin: 7rem 0 2rem 0;
        }
    }

    &__sidebar {
        display: flex;

        flex-direction: column;

        @include telefono {
            flex-direction: row;
        }
    }

    a {
        text-decoration: none;
        color: black;
    }

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    li {
        list-style: none;
        padding: 0.8rem 1rem;

        font-size: 0.9rem;

        @include telefono {
            padding: 0rem 1rem;
        }
    }
}

//===========================================================
// Footer
//===========================================================

footer {
    .container {
        margin-top: 10rem;
        margin-bottom: 0;

        @include telefono {
            margin-bottom: 3rem;
        }
    }
    font-size: 0.9rem;

    p {
        font-size: 1.5rem;
        font-weight: 400;
        span {
            font-size: 0.8rem;
            color: $primario;
        }
    }

    .list-unstyled {
        font-size: 1.5rem;

        margin-bottom: 2rem;
        @include telefono {
            margin-bottom: 0;
        }
    }

    li a {
        color: rgba(0, 0, 0, 0.871);
        padding: 0 1rem;
    }
}

//===========================================================
// Hero
//===========================================================

.hero {
    h2 {
        font-size: 1rem !important;
        margin-top: 4rem;
        margin-bottom: 1rem;
    }
}

//===========================================================
// Paginas
//===========================================================

.trabajos {
    margin-top: 4rem;
    @include telefono {
        margin-top: 8rem;
    }

    .card {
        background-color: transparent !important;
        border: none !important;
    }
    .card-footer {
        background-color: transparent !important;
        border: none !important;
    }

    .trabajos-video {
        margin: 2rem auto;
        position: relative;
        // display: flex;
        aspect-ratio: 16/9;

        video {
            // min-width: 100%;
            // min-height: 100vh;
            width: 100%;
            z-index: 1;
            margin: 0 auto;
        }

        .text-video {
            position: absolute;
            color: rgb(255, 255, 255);
            top: 1rem;
            left: 2rem;

            @include telefono-mini {
                top: 1.3rem;
                left: 2.2rem;
            }

            @include tablet {
                top: 1.5rem;
                left: 2.5rem;
            }

            @include desktop {
                top: 2.5em;
                left: 3.5rem;
            }

            h3 {
                font-size: 1.2rem;
                font-weight: 100;

                @include telefono-mini {
                    font-size: 1.8rem;
                    // letter-spacing: 10px;
                }
                @include tablet {
                    font-size: 2.5rem;
                    letter-spacing: 6px;
                }
                @include desktop {
                    font-size: 3rem;
                    letter-spacing: 10px;
                }
            }
        }
    }

    .trabajos-video-back {
        position: relative;
        video {
            // min-width: 100%;
            // min-height: 100vh;
            width: 100%;
        }

        .video-texto {
            width: 100%;
            // background-color: #000000;
            background-color: #000000a8;
            text-align: center;
            position: absolute;
            top: 0;
            bottom: 6px;
            font-size: 2rem;
            color: white;
            padding: 1rem 0.5rem 0rem 0.5rem;

            @include telefono-mini {
                padding: 1.5rem 2rem 0rem 2rem;
                // padding: 3rem 6rem 5rem 6rem;
            }
            @include telefono {
                padding: 4rem 4rem 0rem 4rem;
                // padding: 3rem 6rem 5rem 6rem;
            }
            @include tablet {
                padding: 4.5rem 5rem 0rem 5rem;
                // padding: 3rem 6rem 5rem 6rem;
            }
            @include desktop {
                padding: 5rem 7rem 0rem 7rem;
                // padding: 3rem 6rem 5rem 6rem;
            }
            @include desktop-full {
                padding: 8rem 7rem 0rem 7rem;
                // padding: 3rem 6rem 5rem 6rem;
            }

            h3 {
                font-weight: 400;

                font-size: 2rem;
                margin: 0.5rem auto 1rem auto;

                @include telefono-mini {
                    font-size: 2.2rem;
                    margin: 0.5rem auto 1rem auto;
                }

                @include telefono {
                    font-size: 3rem;
                    margin: 0.8rem auto 1rem auto;
                }

                @include tablet {
                    font-size: 4.8rem;
                    margin: 0.8rem auto 1rem auto;
                }

                @include desktop {
                    font-size: 6rem;
                    margin: 0.8rem auto 1rem auto;
                }

                span {
                    font-weight: 300;
                    color: $primario;
                    font-size: 50%;
                }
            }

            p {
                font-weight: 200;
                margin: 2rem auto;
                font-size: 0.8rem;

                @include telefono-mini {
                    font-size: 1rem;
                }

                @include telefono {
                    font-size: 1.2rem;
                }

                @include tablet {
                    font-size: 1.6rem;
                }

                @include desktop {
                    font-size: 2rem;
                }
            }
        }
    }
}

.filosofia {
    .cards {
        // .card-body {
        //     margin-left: 0;

        //     @include telefono {
        //         margin-left: 2rem;
        //     }
        // }

        transition: 0.5s;

        &:hover {
            filter: opacity(0.9);
        }

        .card-title {
            font-size: 2rem !important;
            letter-spacing: 4px;
            font-weight: 300;
            color: black;
        }
        .card-text {
            font-size: 1rem !important;
        }

        .card {
            border: none !important;
            margin: 3rem 0 !important;
        }

        .filosofia-card-img {
            position: relative;

            .text-abs {
                position: absolute;
                color: white;
                font-weight: 100;
                font-size: 3.5rem;
                bottom: 15px;
                left: 20px;
                letter-spacing: 12px;
            }
        }
    }
}

.nosotros {
    .nosotros-card-img {
        position: relative;

        .text-abs {
            position: absolute;
            bottom: 0;
            // left: 15px;
            text-align: center;
            padding: 1rem 0.5rem;
            width: 100%;
            color: #fff;
            font-size: 1.5rem;
            font-weight: 100;
            background-color: rgba(0, 0, 0, 0.727);
        }
    }

    img {
        border-radius: 3px !important;
        height: 450px;
    }

    .card {
        border: none !important;
        // border-bottom: 1px solid rgb(119, 119, 119) !important;

        .card-title {
            font-size: 1rem !important;
        }

        .card-text {
            font-size: 0.8rem !important;
            line-height: 24px;
        }
    }
}

.servicios {
    .col {
        padding: 0 !important;
    }
    .card {
        border: none !important;
        border-radius: 0 !important;
        transition: 0.5s;

        &:hover {
            // transform: scale(1.1);
            filter: opacity(0.7);
        }
    }
    .servicios-card-img {
        position: relative;
        display: flex;

        .text-abs {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100px;
            position: absolute;
            top: 100px;
            width: 100%;
            color: rgb(255, 255, 255);
            position: absolute;
            z-index: 99;
            background-color: rgba(0, 0, 0, 0.529);

            text-align: center;
            font-size: 1.8rem;
            font-weight: 200;
            p {
                margin: 0;
            }

            // p {
            //     // backdrop-filter: grayscale(0.5) opacity(0.8) /* ...and on and on... */;

            //     // padding: 3rem 0.5rem;
            //     // backdrop-filter: blur(10px);
            // }
        }
    }
}

.contact {
    &__container {
        // background-color: #1b1c3c;
        margin: 3rem auto 3rem auto;
        width: 70%;
        padding: 6rem 0 29rem 0;
        position: relative;
        border-radius: 5px;
        position: relative;

        @include telefono-mini {
            width: 300px;
        }

        @include telefono {
            width: 350px;
        }

        @include tablet {
            width: 450px;
        }

        @include desktop {
            width: 700px;
        }

        i {
            position: absolute;
            color: white;
            font-size: 2rem;
            top: 24px;
            left: 28px;
        }
    }

    &__form {
        display: flex;
        flex-direction: column;
        padding: 1rem 2rem 5rem 2rem;
    }

    &__input {
        color: black;
        outline: none;
        padding: 0.5rem 1rem;
        background-color: transparent;
        border: none;
        border-bottom: 1px solid #b5b5b5;
        margin-bottom: 1rem;

        // border-radius: 5px;
        &--area {
            border: 1px solid #b5b5b5;
            resize: none;
        }

        &::placeholder {
            color: #8a8a8a;
            font-size: 1rem;
        }
    }

    &__submit {
        position: absolute;
        border-radius: 30px;
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
        background-color: $primario;
        color: #fff;
        padding: 15px 35px;
        display: inline-block;
        font-size: 14px;
        font-weight: bold;
        letter-spacing: 2px;
        right: -21px;
        bottom: 20px;
        cursor: pointer;
        transition: all 0.5s;

        &:hover {
            background-color: $primario;
            padding: 15px 45px;
        }
    }

    .social-media {
        position: absolute;
        right: 0;
        top: 0;
        display: grid;
        grid-template-columns: repeat(4, auto);
        background-color: $secundario;
        padding-right: 1.5rem;
        border-radius: 0 0 0 15px;
        box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
            rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
            rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
            rgba(0, 0, 0, 0.09) 0px 32px 16px;

        @include tablet {
        }
        i {
            font-size: 1.8rem;
            padding: 1.5rem 1.8rem;
            transition: all 0.5s;

            &:hover {
                transform: scale(1.5);
            }
        }
    }
}
